<html ng-app="AngularJSExample">
    <head>
        <!-- from Google Hosted Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
        
            var myModule = angular.module('AngularJSExample', []);
            
            //first register the controller - https://docs.angularjs.org/guide/migration
            myModule.controller('CostController', 
                //we make an AngularJS controller right here in the template (we won't normally do this though)
                function ($scope) {
                    
                    var cc = this;
                    
                    cc.cost = 1000.1;
                    cc.add_tax = true;
                    cc.total_bill = true;
					cc.add_tip = true;
                    
                    function update(){
                        cc.tax = cc.add_tax ? cc.cost * cc.state.amount : 0.0;    
                        cc.tip = cc.add_tip ? cc.cost * cc.tipping.amount: 0.0;
						cc.total = parseFloat(cc.cost) + cc.tax + cc.tip; 
					
                    }
                    
                    //used to detect when cost changes
                    $scope.$watch('cc.cost', update);
                    $scope.$watch('cc.add_tax', update);
                    $scope.$watch('cc.state', update);
                    $scope.$watch('cc.cost + cc.tax', update);
					$scope.$watch('cc.tipping', update);
                    
                    //final bill
                    cc.final_bill = 0.0;
                    cc.add = function add(){
                        cc.final_bill += cc.total;   
                    }
                    
                    //state options
                    cc.state_options = [
                        {amount:0.04, name:"AK"},
                        {amount:0.00, name:"AL"},
                        {amount:0.056, name:"AR"},
                        
                        {amount:0.065, name:"AZ"},
                        {amount:0.725, name:"CA"},
                        {amount:0.029, name:"CO"},
                        
                        {amount:0.0635, name:"CT"},
                        {amount:0.00, name:"DE"},
                        {amount:0.06, name:"FL"},
                        
                        {amount:0.04, name:"GA"},
                        {amount:0.04, name:"HI"},
                        {amount:0.06, name:"IA"},
                        
                        {amount:0.06, name:"ID"},
                        {amount:0.0625, name:"IL"},
                        {amount:0.07, name:"IN"},
                        
                        {amount:0.065, name:"KS"},
                        {amount:0.06, name:"KY"},
                        {amount:0.05, name:"LA"},
                        
                        {amount:0.0625, name:"MA"},
                        {amount:0.06, name:"MD"},
                        {amount:0.055, name:"ME"},
                        
                        {amount:0.06, name:"MI"},
                        {amount:0.06875, name:"MN"},
                        {amount:0.04225, name:"MO"},
                        
                        {amount:0.07, name:"MS"},
                        {amount:0.00, name:"MT"},
                        {amount:0.0475, name:"NC"},
                        
                        {amount:0.05, name:"ND"},
                        {amount:0.055, name:"NE"},
                        {amount:0.00, name:"NH"},
                        
                        {amount:0.06875, name:"NJ"},
                        {amount:0.05125, name:"NM"},
                        {amount:0.0685, name:"NV"},
                        
                        {amount:0.04, name:"NY"},
                        {amount:0.0575, name:"OH"},
                        {amount:0.045, name:"OK"},
                        
                        {amount:0.00, name:"OR"},
                        {amount:0.06, name:"PA"},
                        {amount:0.07, name:"RI"},
                        
                        {amount:0.06, name:"SC"},
                        {amount:0.045, name:"SD"},
                        {amount:0.07, name:"TN"},
                        
                        {amount:0.0625, name:"TX"},
                        {amount:0.047, name:"UT"},
                        {amount:0.043, name:"VA"},
                        
                        {amount:0.06, name:"VT"},
                        {amount:0.065, name:"WA"},
                        {amount:0.05, name:"WI"},
                        
                        {amount:0.06, name:"WV"},
                        {amount:0.04, name:"WY"},

                    ];
                    
                    cc.state = cc.state_options[0];
					
					cc.tipping_options = [
                        {amount:0.10, name:"10%"},
                        {amount:0.15, name:"15%"},
                        {amount:0.20, name:"20%"},
                    ];
                    
                    cc.tipping = cc.tipping_options[0];
                    
					
			
                }
            );
        </script>
    </head>
    <body>
        <div ng-controller="CostController as cc">
            
            <input type="checkbox" ng-model="cc.total_bill" />Show Total
            <p>
                Cost: <input type="text" ng-model="cc.cost" placeholder="cost" /><br/>
                State: <select ng-model="cc.state" ng-options="s.name for s in cc.state_options"></select> <br/>
				Tip: <select ng-model="cc.tipping" ng-options="t.name for t in cc.tipping_options"></select>
            </p>
            <p>
                
                This is your cost: {{cc.cost|currency}}
            </p>
            <p>
                This is your tax: {{cc.tax|currency}}
            </p>
			
			<p>
				This is your tip: {{cc.tip|currency}}
			</p>
            <p ng-show="cc.total_bill">
                This is your total: {{cc.total|currency}}
                <button ng-click="cc.add()">Add</button>
            </p>
            <p ng-show="cc.total_bill">
                Your running total is {{cc.final_bill|currency}}
            </p>
        </div>
    </body>
</html>
